@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 228 30% 97%;
    --foreground: 227 29% 10%;
    --card: 0 0% 100%;
    --card-foreground: 227 29% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 227 29% 10%;
    --primary: 227 29% 24%;
    --primary-foreground: 0 0% 100%;
    --secondary: 228 30% 91%;
    --secondary-foreground: 227 29% 24%;
    --muted: 228 30% 91%;
    --muted-foreground: 227 29% 40%;
    --accent: 210 40% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 228 30% 88%;
    --input: 228 30% 88%;
    --ring: 227 29% 24%;
    --chart-1: 227 29% 24%;
    --chart-2: 210 40% 50%;
    --chart-3: 173 58% 39%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 227 15% 15%;
    --foreground: 0 0% 98%;
    --card: 227 15% 18%;
    --card-foreground: 0 0% 98%;
    --popover: 227 15% 18%;
    --popover-foreground: 0 0% 98%;
    --primary: 227 29% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 227 15% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 227 15% 25%;
    --muted-foreground: 227 10% 65%;
    --accent: 210 40% 60%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 227 15% 25%;
    --input: 227 15% 25%;
    --ring: 227 29% 40%;
    --chart-1: 227 29% 40%;
    --chart-2: 210 40% 60%;
    --chart-3: 173 58% 39%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
